<div class="tab-pane fade in active" id="instruments" ng-init="getInstruments()">
    <div class="table-responsive">
        <table class="table dataTable">
            <thead>
                <tr>
                    <th  class="sorting"  ng-click="predicate = '-id'; reverse=!reverse">ID</th>
                    <th  class="sorting"  ng-click="predicate = '-name'; reverse=!reverse">Container</th>
                    <th  class="sorting"  ng-click="predicate = '-description'; reverse=!reverse">Description</th>
                    <th>Used <a class="question-tip" popover="Utilized in lab environment" href="" popover-trigger="mouseenter"><span class="glyphicon glyphicon-question-sign"></span></a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat = "instrument in instruments |  orderBy: predicate:reverse">
                    <td>{{instrument.id}}</td>
                    <td>{{instrument.name}}</td>
                    <td>{{instrument.description}}</td>
                    <td><input type="checkbox" ng-checked="instrument.used==1" ng-true-value="1" ng-false-value="0" ng-click="saveStatus(instrument)"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--
    <div class="lab-pagination">
        <pagination class="pagination"
                    total-items="totalItems"
                    items-per-page="pageSize"
                    ng-model="currentPage"
                    ng-change="pageChanged()">
        </pagination>
    </div>
	-->
</div>